// Variables

// Main color
//$primary-color: #000;
$primary-color: #fff;

// Anchor color
$secondary-color: #00cdff;

// Font color
//$font-color: #fff;
$font-color: #000;

$navbar-text-shadow: true;
$header-text-shadow: true;
$header-background-color: $primary-color;
$intro-text-color: #fff;
$navbar-color: #fff;
$navbar-lg-collapse-background-color: #000;
$navbar-lg-background: transparent;
$navbar-sm-background-color: $navbar-lg-collapse-background-color;

$social-buttons-color: $secondary-color;
