
<!-- Index Layout Start -->

<!DOCTYPE html>
<html lang="{{ site.lang }}">

  {% include head.html %}

  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top"  data-offset="151">

    {% include navigation.html %}

    {% include header.html %}

    {% assign i = 0 %}
    {% for p in site.pages_list %}    
      {% for page in site.pages %}
        {% if p[1] == page.section-type %}
            {% assign i = i | plus:1 %}
            {% assign odd = i | modulo: 2 %}
            <section id="{{ page.section-type }}" class="container content-section text-center {% if odd != 1 %} gray-section {% endif %}">
            {% include {{ page.path }} %}
            </section>

        {% endif %}
      {% endfor %}
    {% endfor %}

    {% include footer.html %}

    {% include js.html %}

  </body>
</html>

<!-- Index Layout End -->
